/* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* General Styles */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background .videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.background{
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.background-content {
    max-width: 600px;
}

.background h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.background span {
    color: #ff8b2c;
}

.background p {
    margin: 20px auto;
    max-width: 600px;
    line-height: 1.6;
}

.entrar-icon {
    width: 25px; 
    height: 25px;
    margin-right: 8px; 
    vertical-align: middle; 
    clip-path: circle(50% at 50% 50%);
}


/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(4, 5, 12, 0.7);
    z-index: 1000;
}

header .logo {
    color: #ff792c;
    font-size: 2rem;
    font-weight: bold;
}


header .nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

header .nav a:hover {
    color: #ff792c;
}


.services {
    padding-top: 140px;
    
}

.services h1 {
    text-align: center;
    font-size: 2rem;
    color: #ff8b2c;
    margin-bottom: 50px;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.service-card {
    background: #fff;
    box-shadow: 0 4px 10px #000000;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-info {
    padding: 15px;
    text-align: center;
}

.service-info h3 {
    font-size: 1.2rem;
    
    color: #ff8b2c;
    margin-bottom: 10px;
}

.service-info p {
    font-size: 1rem;
    color: #080808;
}

.about {
    position: relative;
    
    padding-top: 140px;
    z-index: 1;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 2;
    text-align: justify;
    color: #424040;
}

.about h1 {
    font-size: 2em;
    color: #ff8b2c;
    margin-bottom: 05px;
    text-align: center;
}
.about-text h3 {
    font-size: 2rem;
    color: #ff8b2c;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}



/* Reviews Section */
.reviews-section {
    text-align: center;
    padding: 50px 20px;

    padding-top: 140px;
    background-color: #fff;
}

.reviews-section h1 {
    font-size: 2em;
    color: #ff8b2c;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
}

.reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.review-card {
    background-color:  #e0c8f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: left;
    position: relative;
}


.review-card p {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
}

.review-card blockquote {
    font-size: 2em;
    color: #e0c8f5;
    position: absolute;
    bottom: 20px;
    right: 20px;
}



.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid 
}



/* Contact Section */
.servicio-contact {
    text-align: center;
    padding: 40px 20px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.servicio-contact p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.contact {
    position: relative;
    padding-top: 100px;
    background-color: #fff;
    z-index: 1;
}
.contact h1 {
    font-size: 2rem;
    color: #ff8b2c;
    margin-bottom: 20px;
    
}



.tarjeta {
    background-color: #e0c8f5;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.tarjeta-contact {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.tarjeta .icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ff8b2c;
}

.tarjeta h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.tarjeta p {
    font-size: 1rem;
    color: #555;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;  /* Para centrarlo verticalmente si es necesario */
    margin-top: 20px;  /* Puedes ajustar el margen superior si es necesario */
}

